__pycache__/
*.py[cod]
*$py.class
__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
env/
.env
venv/
ENV/

build/
dist/
*.egg-info/
.eggs/

.vscode/
.idea/
*.swp
*.swo

*.log
*.sqlite3

.pytest_cache/
.cache/

htmlcov/
.coverage

.mypy_cache/

.ipynb_checkpoints/
.DS_Store